@import 'mixins';

.section-about{
    padding: 6rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-portfolios{
    padding: 6rem 4rem;
    background-color: #f9fafb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-contact{
    padding: 6rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}