@import 'mixins';

.section-about{
    padding: 6rem 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-portfolios{
    padding: 6rem 4rem;
    background-color: #f9fafb;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}