@import 'mixins';

.header{
    position: relative;
    background-color: #202020;
    height: 100vh;
}
@include respond(tab-port){
    .header{
        position: relative;
        background-color: #202020;
        height: 70vh;
    }
}



.nav{
    padding: 0rem 4rem;
    background-color: inherit;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9;

    &-logo{
        width: 40%;
        &--svg{
            fill:transparent;
            stroke: #fff;
            animation:svg 3s infinite;
            width: 5rem;
        }
   
    }
    @include respond(tab-port){
        &-items{
            visibility: hidden;
            opacity: 0;
        }   
    }
    &-items{
        width: 40%;
        &__list{
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            text-transform: none;
            
        }
        
        &__item{
            position: relative;
            display: inline-block;
            width: 10%;
        }

        &__link-visible,&__link-invisible{
        &:visited,
        &:link,&:active{
            display: inline-block;
            font-family: 'Russo One', sans-serif;
            font-size: 1.7rem;
            font-weight:300;
            color: #fff ;
            text-decoration: none;
            transition: all .4s ease-in-out; 

            cursor: pointer;
        }
    }
        &__link-visible{
            transform: rotateY(0);

        }
        &__link-invisible{
            transform: rotateY(90deg);
            // color: red !important;
            position: absolute;
            top: 100%;
            left: 0;
            opacity: 0;
            visibility: hidden;            
        }

        &__item:hover &__link-visible{
            position: absolute;
            top: -100%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transform:  rotateY(-90deg);
        }

        &__item:hover  &__link-invisible{
            top: 0;
            opacity: 1;
            visibility: visible;
            transform: rotateY(0);
        }

    }
}

@include respond(S-tab) {
    .container-i{
        display: none;
    }
    .nav{
        height: 10%;
        &-logo{
            width: 40%;
            &--svg{
                width: 9rem;
            }
       
        }

    }
}

@include respond(B-phone){
.nav{
    padding: 2rem 1rem;
    width: 100%;
    height: 7%;
}
}


.box{
    padding: 0rem 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    &-right{
        width: 50%;
        display: flex;
        justify-content: center;
        width: 50%;
        &__img{
            width: 50%;
        }
    }

    &-left{
        // width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        &__header{
            font-size: 4rem;
            font-weight:lighter;
        }
        &__paragraph{
            text-align: center;
            line-height: 5rem;
            font-size: 2.5rem;
            font-weight:lighter;
        }
    }
}

@include respond(B-phone){
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        &-right{
            width: 60%;
            &__img{
                width: 70%;
            }
        }
    }    
}

.frame{
    &__card{
        position: relative;
        background-color: #fff;
        box-shadow: 0 3rem 1rem rgba($color: #000000, $alpha: .3);
        width: 27rem;
        height: 45rem;
        border-radius: 10px;
        object-fit: cover;
        
        
        
        &__📷{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__card::before{
        content: '';
        position: absolute;
        top: 8%;
        left: 20%;
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.168);
        outline: 2px solid rgb(223, 223, 223);
        opacity: .3;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: -1;
        
    }
    
}



.description{

    width: 50%;
    &__paragraph{
        font-family: 'Russo One', sans-serif;
        margin-top: 4rem;
        font-size: 1.8rem;
        color: #000000a3;
        line-height: 3rem;
        text-align: justify;
    }

        &__links{
            width: 100%;
            margin-top: 2.5rem;
            display: flex;
            align-items: center;
        }
}

.frame,.description{
    margin-top: 10rem;
}

@include respond(B-phone){
    .description{
        width: 90%;
        &__paragraph{
            font-family: 'Russo One', sans-serif;
            margin-top: 4rem;
            font-size: 2.5rem;
            color: #000000a3;
            line-height: 4rem;
        }
        &__links{
            width: 100%;
            margin-top: 2.5rem;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
        }
           
    }
    .frame{
        width: 100%;
        display: flex;
        justify-content: center;
        &__card{
            position: relative;
            background-color: #fff;
            box-shadow: none;
            width: 80%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            &::before{
                width: 0;
            }
        }
    }
}



.portfolios-box{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10rem;

    
    &__🕸{
        width: 40.5rem;
        border-radius: 5px;
        overflow: hidden;
        background-image: linear-gradient(to right,#DFDFDE ,#fff);
        object-fit: cover;
        transition: all .5s ease-out;
        &__link{
        &:visited,
        &:link,&:active{
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            color:unset;
        }
        &--img{
            width: 100%;
            height: 20rem;
        }
        &--content{
            padding: 2rem 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Russo One', sans-serif;
            transition: all .5s;
            &__title{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }

    &__list{
        margin-top: 2.5rem;
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        font-size: 1.4rem;

    }

    &__item{
        border-radius: 10px;
        padding: .5rem .8rem;
        width: 30%;
        text-align: center;
        transition: all .3 ease-out;
    }
    &__item{
        &-i{
            border: 1px solid #30cb82;
            &:hover{
                background-image: linear-gradient(to right,#30cb82 ,#eee);
            }
        }
        &-ii{
            border: 1px solid #8364e8;
            &:hover{
                background-image: linear-gradient(to right,#8364e8 ,#eee);
            }
        }
        &-iii{
            border: 1px solid #fdc144;
            &:hover{
                background-image: linear-gradient(to right,#fdc144 ,#eee);
            }
        }
        &-iv{
            border: 1px solid #f73064;
            &:hover{
                background-image: linear-gradient(to right,#f73064 ,#eee);
            }
        }
        &-v{
            border: 1px solid #f43063;
            &:hover{
                background-image: linear-gradient(to right,#f43063 ,#eee);
            }
        }
        &-vi{
            border: 1px solid #41a16d;
            &:hover{
                background-image: linear-gradient(to right,#41a16d ,#eee);
            }
        }
        &-vii{
            border: 1px solid #f5ba13;
            &:hover{
                background-image: linear-gradient(to right,#f5ba13 ,#eee);
            }
        }
        &-viii{
            border: 1px solid #3e6a82f4;
            &:hover{
                background-image: linear-gradient(to right,#3e6a82f4 ,#eee);
            }
        }
        &-ix{
            border: 1px solid #ff4c68;
            &:hover{
                background-image: linear-gradient(to right,#ff4c68 ,#eee);
            }
        }
        &-todo{
            border: 1px solid #f1356d;
            &:hover{
                background-image: linear-gradient(to right,#f1356d ,#eee);
            }
        }
        &:hover{
            color: #fff;
        }
    }
}

    &__🕸-i:hover{
        box-shadow: 0rem 2rem 2rem rgba(#30cb82, 0.3);   
    }
    &__🕸-ii:hover{
        box-shadow: 0rem 2rem 2rem rgba(#8364e8, 0.3);   
    }
    &__🕸-iii:hover{
        box-shadow: 0rem 2rem 2rem rgba(#fdc144, 0.3);   
    }
    &__🕸-iv:hover{
        box-shadow: 0rem 2rem 2rem rgba(#f73064, 0.3);   
    }
    &__🕸-v:hover{
        box-shadow: 0rem 2rem 2rem rgba(#f43063, 0.3);   
    }
    &__🕸-vi:hover{
        box-shadow: 0rem 2rem 2rem rgba(#41a16d, 0.3);   
    }
    &__🕸-vii:hover{
        box-shadow: 0rem 2rem 2rem rgba(#f5ba13, 0.3);   
    }
    &__🕸-viii:hover{
        box-shadow: 0rem 2rem 2rem rgba(#3e6a82f4, 0.3);   
    }
    &__🕸-ix:hover{
        box-shadow: 0rem 2rem 2rem rgba(#ff4c68, 0.3);   
    }
    &__🕸-todo:hover{
        box-shadow: 0rem 2rem 2rem rgba(#f1356d, 0.3);   
    }
}

@include respond(tab-port){
    
    .portfolios-box{
        justify-content: space-around ;
    }
}
@include respond(XS-tab) {
    .portfolios-box{
        width: 100%;
        justify-content: center;
        gap: 2rem;
        margin-top: 10rem;
        &__🕸{
            width: 90%;
            &__link{
                &--img{
                    width: 100%;
                    height: 50rem;
                }
            }
            &__item{
                font-size: 2.5rem;
                border-radius: 10px;
                padding: .5rem .8rem;
                width: 30%;
                text-align: center;
                transition: all .3 ease-out;
            }
        }
    }
}

@include respond(B-phone){
    .portfolios-box{
        width: 100%;
        justify-content: center;
        gap: 2rem;
        margin-top: 10rem;
        &__🕸{
            width: 100%;
            &__link{
                &--img{
                    width: 100%;
                    height: 35rem;
                }
            }
        }
    }
    
}


.📧{
    height: 80vh;
    width: 90%;
    margin-top: 10rem;
    background-image: linear-gradient(107deg , rgba(27, 27, 27,.95) 0% , rgba(27, 27, 27,.95) 50%,
     transparent 50%), url('../img/ricardo-gomez-angel-9AdeEdYB2yk-unsplash.jpg');
     background-size: 100%;
     box-shadow: 0 1rem 2rem rgba(#000, 0.5);
     border-radius: 5px;
     &__form{
        width: 60%;
        height: 100%;
     }
}

@include respond(S-tab) {
    .📧{
        // width: 30% !important; 
        height: 60vh ;

    }
}

@include respond(B-phone){
    .📧{
        width: 90%;
        height:70vh;
        background-image: linear-gradient(107deg , rgba(27, 27, 27,.99) 0% , rgba(27, 27, 27,.99) 100%,
         transparent 50%), url('../img/ricardo-gomez-angel-9AdeEdYB2yk-unsplash.jpg');
         &__form{
            width: 100%;
            height: 85%;
         }
    }
}
.footer{

    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo{
        width: 20%;
        display: flex;
        justify-content: space-around;
        &--svg{
            fill:transparent;
            stroke: #3d5b94;
            stroke-width: 4px;
            animation:footer-svg 3s infinite;
            width: 6rem;
        }
    }
    &__social{
        font-family: sans-serif;
        width: 60%;
        font-size: 4rem;
        text-align: center;
        font-weight: bold; 
        line-height: 70px;
        display: flex;
        justify-content: flex-end;

        &--face{
            background-color: #3d5b94;
        }
        &--in{
            background-color: #1e83ae;
        }
        &--git{
            background-image: linear-gradient(to right,#283ec8,#8b10b9);
        }
        &--face,&--in,&--git{
            width: 20%;
            transition: all .2s;
        }
        &--face:hover{
            background-color: #fff;
            color: #3d5b94;
        }
        &--in:hover{
            background-color: #fff;
            color: #1e83ae;
        }
        &--git:hover{
            background-image: linear-gradient(to right,#fff,#fff);
            background-image: linear-gradient(to right, #283ec8, #8b10b9);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

}


@include respond(B-phone){
    .footer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        &__logo{
            width: 100%;
            &--svg{
                width: 10rem;
            }
        }
        &__social{
            width: 100%;
            &--face,&--in,&--git{
                width: 33.333%;
            }

        }
    }   
}
    